*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-green: #596D48;
    --light-gray: #F7FAFF;
    --form-middle: #fff;
    --main-logo-color: #fff;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf");
}


body {
    font-family: 'Rubik', sans-serif;
    height: 100vh;
    display: flex;
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -moz-user-select: none; /* Firefox */
}

.logo-container {
    position: relative;
    width: 40vw;
    height: 100%;
    background-color: var(--dark-green);
    background-image: url("../img/halie-west.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: var(--main-logo-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    height: 180px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    font-family: "Norse-Bold", sans-serif;
    font-weight: 700;
    font-size: 52px;


}

.logo-img {
    height: 100%;
}

.credentials {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.credentials-link {
    color: inherit;
}


.content-container {
    width: 60vw;
    height: 100%;
    background-color: var(--light-gray);
}

.form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section {
    padding: 15px 60px;
}

.form-section-light {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1), -6px -6px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--form-middle);
}

.content-text {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 35px;
    max-width: 900px;
}

.form-title {
    font-size: 28px;
    font-weight: 400;
    text-shadow: 0 1px var(--dark-green);
}

.form-container {
    max-width: 750px;
    margin: 40px 0 25px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 10px;
}

.form-item {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.form-item > label {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--dark-green);
}

.form-item > input {
    width: 80%;
    border: 1px solid rgba(89, 109, 72, 0.2);
    border-radius: 5px;
    padding: 8px 14px;
}

.form-item > input:focus {
    outline: none;
    border: 1px solid lightblue;
    box-shadow: 1px 1px 3px 1px lightblue;
}

.create-button {
    margin: 20px 0 40px 0;
    padding: 15px 45px;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-green);
    color: var(--form-middle);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 2px 2px 8px 2px lightgray;
}

.create-button:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
}

.login-text {
   font-size: 16px;
}

.login-link {
    font-weight: 500;
    color: var(--dark-green);
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}